<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
      <observer name="custom_payment" instance="VentiPay\Gateway\Observer\VentiPayAvailable" />
    </event>
    <event name="sales_order_creditmemo_save_before">
        <observer name="ventipay_refund" instance="VentiPay\Gateway\Observer\RefundObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="ventipay_stop_email" instance="VentiPay\Gateway\Observer\SubmitObserver"/>
    </event>
</config>
